.red-text {
    color: red;
    font-size: 100px;
    position: absolute;
    line-height: 0.9;
}

.small-seconds {
    font-size: 0.5em;
    /* 秒のサイズを小さくする */
    vertical-align: down;
    /* 秒を上付きにする */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    /* スクロールバーを非表示にする */
}

h2 {
    color: rgb(195, 195, 195);
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

.settings {
    display: none;
    /* 初期状態では非表示 */
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(71, 71, 71);
    color: rgb(197, 197, 197);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    opacity: 0.9;
}

.settings-header {
    display: none;
}

.screenshot-wiew {
    display: none;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(90, 90, 90);
}

.gear {
    font-size: 40px;
    background-color: transparent;
    opacity: 0.4;
    cursor: pointer;
    border: none;
    /* マウスカーソルを指の形にする */
    transition: transform 0.2s;
}
.gear:hover {
    transform: rotate(180deg);
    /* ホバー時にアイコンを回転させる */
}